beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
fuzzywuzzy==0.18.0
lxml==5.2.1
newspaper3k==0.2.8
nltk==3.8.1
openai==0.28.1
openpyxl==3.1.2
pandas==2.2.2
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
rapidfuzz==3.8.1
regex==2024.4.16
requests==2.31.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.2
lxml_html_clean==0.1.1